* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

form {
  width: fit-content;
}

.input-container {
  margin: 10px 0;
}

.form-avatar {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50%;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}
/* input {
  outline: none;
} */

.calendar {
  width: 260px;
}

.sidebar-num {
  margin-right: 15px;
  padding: 3px 6px;
  font-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgb(100, 100, 100);
  transition: all .1s;
}

.clock {
  font-size: 200%;
  color: white;
  font-weight: bold;
  letter-spacing: 2.5px;
}